@import "../variables.scss";
@import "../tipodeletra";
@import "grid.scss";

body {
    font-family: $letra;
    font-weight: $font-weight-base;
}

header {
    margin-bottom: 1%;
}

.top {
    background: url(../images/jumbo.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
}

.txtbox {
    width: 44%;
    height: auto;
    background-color: ($transparency2);
    padding: 3%;
    display: flex;
    flex-direction: column;
}

.txt {
    padding: 7%;
}

.heading1 {
    display: block;
    color: $white;
}

.app {
    display: inline-block;
    padding: 10%;
    padding-top: 2%;
    margin-right: 25px;
}

.circle {
    background: linear-gradient(180deg, $primary1, $primary3);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    margin-left: 34%;
    color:white;
    
}

.heading3 {
    text-align: center;
}

.text-large {
    text-align: center;
}

.formulario {
    border: solid $gray1;
    border-radius: 1%;
    padding: 3%;
    padding-left: 15%;
}

.cajita {
    border: oldlace $gray2;
    
}

.checkbox {
    background-color: initial;
    cursor: default;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
    font-size: 55%;
}

.mov {
    text-align: right;
}

.heading2-2 {
    width: 500px;
}

#gmap_canvas img {
    max-width: none!important;
    background: none!important
}

.fin {
    background-color: $gray5;
}

.path {
    fill: $white;
}

.heart {
    color: $danger;
}

.border {
    border: solid $gray1;
    border-radius: 3%;
}

.submit {
    background-color: $primary3;
    color: $white;
    padding: 3%;
    border-radius: 10%;
}

iframe {
    width: 100%;
    height: 450px;
}

.opciones {
    margin-top: 130px;
    margin-bottom: 60px;
}

@media screen and (max-width: 576px) {
    .top {
        width: 100%;
        background-size: cover;
    }
    .txtbox {
        height: auto;
        width: 100%;
    }
    .heading2 {
        text-align: left;
    }
    .box {
        display: flex;
    }
    .circle {
        width: 70%
    }
    .mov {
        margin-left: 65px;
    }
    .formulario {
        margin-left: 57px;
    }
}
.footer {
    text-align:center;
    background-color: $gray5;
    &__claim{
        color: white;
    }
}

.formulario-enviar {
    display: none;
    border: 1px solid $valid ;
    padding: 1em;
    &-enviado{
        display: block;
        height: 100%;
    }
}
.formulario-grande {
    &-enviado{
        display: none
    }



}